body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(183, 170, 249, 1) 100%
  );
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  height: 100%;
  background: white;
}

.hero img {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(183, 170, 249, 1) 100%
  );
  padding: 25px 0;
}

.menu div {
  font-weight: bold;
  color: black;
}

.menu div a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.maison-image {
  width: 100%;
}

.description {
  font-size: 20px;
  padding: 35px;
}

.description-suite {
  font-size: 20px;
  padding: 35px;
  color: gray;
}

.description-title {
  font-size: 24px;
  padding: 35px;
  color: black;
  text-decoration: underline;
}

.description-suite-2 {
  font-size: 18px;
  padding: 35px;
}

.inscription {
  font-size: 32px;
  padding: 35px;
  text-decoration: underline;
}

.inscription-info {
  font-size: 18px;
  padding: 35px;
}
