@font-face {
  src: url("./OpenSans-Regular.ttf");
  font-family: "Open Sans";
}

@font-face {
  src: url("./Oswald-Regular.ttf");
  font-family: "Oswald Regular";
}

@font-face {
  src: url("./Oswald-Light.ttf");
  font-family: "Oswald Light";
}

body {
  font-family: "Oswald Light", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: white;
}

.hero img {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(19, 88, 163);
  padding: 25px 0;
  font-size: 20px;
}

.menu div {
  color: white;
}

.menu div:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.menu div a {
  color: white;
  text-decoration: none;
}

.maison-image {
  max-width: 576px;
  display: block;
  margin: 0 auto;
}

.description {
  font-size: 24px;
  padding: 35px;
}

.description-suite {
  font-size: 20px;
  padding: 35px;
  color: gray;
}

.divider-image {
  width: 100%;
}

.description-title {
  font-size: 24px;
  padding: 35px;
  color: black;
  text-decoration: underline;
}

.description-suite-2 {
  font-size: 18px;
  padding: 35px;
}

.inscription {
  margin-top: 25px;
  font-size: 32px;
  padding: 35px;
  color: white;
  text-decoration: underline;
  background-color: rgb(19, 88, 163);
}

.inscription-info {
  font-size: 18px;
  padding: 35px;
}
